# Test Automation Results

**Test Environment Details:**

  Name | Details
------------ | -------------
Machine Name | NEXTGENDEPLOY
Operating System | Microsoft Windows 10 Standard, 64-bit
Executed on   | 4/9/2020 10:07:29 AM
Finished on  | 4/9/2020 10:46:09 AM
Execution Duration(DD:HH:MM:SS) |  0:00:38:40 


**Test Automation Metrics:**

  Name | Details
------------ | -------------
Total no. of TestCases executed  | 7
![#00FF00](https://placehold.it/15/00FF00/000000?text=+)`Total no. of TestCases Passed` | 1
![#FF0000](https://placehold.it/15/FF0000/000000?text=+)`Total no. of TestCases Failed`   | 6
![#00FF00](https://placehold.it/15/00FF00/000000?text=+)`Total % of TestCases Passed`  | 14.3%
![#FF0000](https://placehold.it/15/FF0000/000000?text=+)`Total % of TestCases Failed` |  85.7%

